body {
    background-color: #242f3d;
    color: mintcream;
    font-family: 'Montserrat', sans-serif !important;
}

button {
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

input {
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
    border: mintcream 2px solid;
    font-family: 'Montserrat', sans-serif
}

input:focus {
    outline: none;
    border: #38444c 2px solid;
}

.menu-el {
    color: #edeeef;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}

.main-menu{
    display: flex;
    gap: 70px;
    width: 80%;
}

.menu {
    margin-bottom: 50px;
    position: sticky;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background-color: #17212BFF;
    width: 100%;
}

p{
    font-family: 'Montserrat', sans-serif
}

hr {
    color: #FA6C6C;
    background-color: #FA6C6C;
    height: 2px;
    border: none;
    outline: none;
    margin: 20px 0 25px 0;
}

.last {
    font-weight: 700;
    color: #FA6C6C;
}

textarea {
    width: 520px;
    height: 100px;
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
    border: mintcream 2px solid;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif
}

textarea:focus {
    outline: none;
    border: #38444c 2px solid;
}


/*-------------------------------------------------------------------------------------*/
.wrapper {
    border-radius:10px;
    background-color: #17212BFF;
    padding: 35px;
    width: 670px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    min-height: 100vh;
}

.wrapper p {
    font-size: 30px;
    padding: 5px;
    color: moccasin;
}

.delete_form {
    margin: 0 auto;
    gap: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.delete_form p{
    color: moccasin;
    font-size: 20px;
    font-weight: 500;
}

/*-------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------*/
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.title {
    width: 75%;
    font-size: 40px;
    background-color: transparent;
    border: transparent;
    text-align: center;
    color: #fffbe0;
}

.title:focus {
    border: none;
}

.submit_btn {
    background-color: #53a42c;
    border-radius: 5px;
    font-size: 30px;
    padding: 5px;
    transition: background-color .4s;
    color: black !important;
}

.submit_btn:hover{
    background-color: #53a42c;
}

/*-------------------------------------------------------------------------------------*/

.all-tasks {
    width: 100%;
}

.all-tasks .task_response {
    margin-bottom: 20px;
}

.all-tasks .task_name {
    margin-bottom: 15px;
}

.all-tasks .task_response_name {
    margin-bottom: 5px;
}

.all-tasks input[type="checkbox"] {
    transform: scale(1.9);
}

/*-------------------------------------------------------------------------------------*/
.task {

}

.task_content p{
    gap: 50px;
    margin-bottom: 15px;
}

.task_content .question{
    color: moccasin;
}

.task h3{
    margin-bottom: 30px;
}

.task_add {
    display: flex;
    flex: 33.3%;
    gap: 10px;
    margin-bottom: 30px;
}

.task_add button {
    color: black;
    background-color: moccasin;
    padding: 10px;
    font-size: 17.95px;
    border-radius: 10px;
    transition: background-color .4s;
}

.task_task_del {
    background-color: white;
    color: black;
    width: 20%;
    border-radius: 5px;
    justify-content: end;
    font-size: 16px;
    margin-left: 30px;
    padding: 6.5px 0;
    transform: translateY(-2px);
}

.task_add button:hover {
    background-color: #ccb685;
}

.task_content {
    margin-bottom: 30px;
    padding: 15px 30px;
    box-shadow: inset 5px 0 0 0 #FA6C6C;
    background-color: #17212BFF;
}

.task_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.task_name {
    color: black;
    width: 60%;
    margin-right: 15px;
    background-color: mintcream;
    font-size: 18px;
}

.task_response_add {
    color: black;
    background-color: white;
    width: 20%;
    border-radius: 5px;
    justify-content: end;
    font-size: 20px;
}

.task_ready {
    color: black;
    background-color: moccasin;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
}

.task_ready a {
    text-decoration: none;
}

.task_responses {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.task_response {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.task_response_name {
    font-size: 16px;
    margin-right: 15px;
    width: 50%;
    color: black;
    background-color: white
}

.task_response_del {
    margin-left: 15px;
    border-radius: 5px;
    font-size: 18px !important;
    padding: 1px 15px;
    background-color: #e7591f;
    height: 23px;
    transition: background-color 0.4s;
}

.task_response_del:hover {
    background-color: #c44a1a;
}

.task_response input[type="checkbox"] {
    transform: scale(1.9);
}

.task_response button {
    font-size: 16px;
}

.task_detailed input {
    width: 60%;
}


.task_test_off {
    display: none;
}

.task_detailed_off {
    display: none;
}

.create_but {
    text-decoration: none;
    color: black;
}

/*-------------------------------------------------------------------------------------*/

.login_form {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    font-family: 'Montserrat', sans-serif
}

.login_form p {
    gap: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login_form input {
    background: mintcream;
    color: black;
}

/*-------------------------------------------------------------------------------------*/

.tasks_plane {
    gap: 50px;
}

.task_plane span {
    font-size: 18px;
    float: right;
}

.task_plane p{
    color: #FA6C6C;
    font-size: 28px;
    font-weight: 500;
    width: 100%;
}

.task_plane .right_response{
    color: #5DE100;
    font-size: 28px;
    font-weight: 500;
    width:
}

.task_view_btns {
    display: flex;
    gap: 30px;
}

.search form{
    justify-content: center;
    gap: 20px;
    display: flex;
    width: 100%;
}

.search input{
    padding: 3px 3px 3px 5px;
}

.variant{
    font-size: 26px !important;
    color: white !important;
}

.solve_btn {
    color: black;
    background-color: moccasin;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
}

.answer_field {
    resize: none;
    font-size: 16px;
    padding: 10px;
}

.test_variants {
    font-size: 20px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.solve_checkbox {
    transform: scale(1.5);
}

.tasky_name {
    color: moccasin !important;
}

.false_answer {
    background-color: #FA6C6C;
    border-radius: 5px;
    font-size: 30px;
    padding: 5px;
    transition: background-color .4s;
    color: black !important;
}

.whitep {
    color: white !important;
}
