<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap"
          rel="stylesheet">
    <title>Document</title>
</head>
<body>
<div class="wrapper">
    <header>
        <h1>Создание заданий</h1>
    </header>
    <div class="task">
        <div class="task_add">
            <button class="test-btn">Добавить тестовое задание</button>
            <button class="detailed-btn">Добавить развернутое задание</button>
        </div>
        <div class="task_block">
            <form class="task_content task_test task_test_off">
                <div class="task_info">
                    <input class="task_name" type="text" placeholder="Название" name="name">
                    <button class="task_response_add">+</button>
                </div>
                <div class="task_responses">
                    <div class="task_response">
                        <input class="task_response_name" type="text" placeholder="Ответ" name="response">
                        <input type="checkbox">
                    </div>
                </div>
                <button class="submit_btn">Готово</button>
            </form>
            <form class="task_content task_detailed task_detailed_off">
                <div class="task_info">
                    <input class="task_name" type="text" placeholder="Название" name="name">
                </div>
                <button class="submit_btn">Готово</button>
            </form>
        </div>
    </div>
</div>

<script src="script.js"></script>
<script src="postTask.js"></script>
</body>
</html>