{% extends 'tasks/base.html' %}
{% block content %}
<div class="wrapper">
    <header>
        <form class="top" action="">
            <input class="title" placeholder="Заголовок..." name="title">
            <button class="submit_btn" form="form-all-tasks" id="submit-btn">Создать</button>
        </form>
    </header>
    <div class="task">
        <div class="task_add">
            <button class="test-btn">Добавить тестовое задание</button>
            <button class="detailed-btn">Добавить развернутое задание</button>
        </div>
        <div class="task_block">
            <form class="task_content task_test task_test_off">
                <div class="task_info">
                    <input class="task_name" type="text" placeholder="Название" name="name">
                    <button class="task_response_add">+</button>
                </div>
                <div class="task_responses">
                    <div class="task_response">
                        <input class="task_response_name" type="text" placeholder="Ответ" name="response">
                        <input type="checkbox">
                        <button class="task_response_del">-</button>
                    </div>
                </div>
                <button class="task_ready">Готово</button>
            </form>
            <form class="task_content task_detailed task_detailed_off">
                <div class="task_info">
                    <input class="task_name" type="text" placeholder="Название" name="name">
                </div>
                <button class="task_ready">Готово</button>
            </form>
        </div>
        <hr>
        <h3>Результат</h3>
    </div>
    <form class="form_all-tasks" id="form-all-tasks" action="">
        <div class="all-tasks"></div>
    </form>
</div>
{% endblock %}