{% extends 'tasks/base.html' %}
{% block content %}
<div class="wrapper">
    <p> Приветствую, {{ user.username }}! </p>
    <br>
    <p class="whitep">
        Добро пожаловать на тестовую версию сайта Task Tycoon!
    </p>
    <p>
        Тут вы можете создавать <span class="whitep">задания</span> и выполнять их.<br>
        Для создания <span class="whitep">задания</span> перейдите во вкладку "Создать задание" <br>
        Создайте его с помощью блоков тестовых и обычных вопросов <br>
        После создания зайдите во вкладку "Мои задания" и добавьте <span class="whitep">файл</span> при необходимости <br>
        Скопируйте <span class="whitep">id</span> справа от названия задания.<br>
        Для выполнение задания зайдите на вкладку "Решить задание" и введите там <span class="whitep">id</span> нужного задания
    </p>
</div>
{% endblock %}