{% extends 'tasks/base.html' %}
{% block content %}
    <div class="wrapper tasks_plane">
        {% if not tasks %}
        <p> Видимо, Вы еще не создали ни одного задания. Сделайте это прямо сейчас! </p>
        <button class="task_ready"><a href="{% url 'createtask' %}">Создать задание</a></button>
        {% else %}
        {% for task in tasks %}
        <div class="task_content task_plane">
            <p>{{task.title}}<span>id: {{task.identifier}}</span></p>
            <div class="task_view_btns">
                <button class="task_ready"><a class="create_but" href="{% url 'task' task.slug %}">Просмотр</a></button>
                <button class="task_ready"><a class="create_but" href="{% url 'upload' task.slug %}">Файл</a></button>
                <button class="task_ready"><a class="create_but" href="{% url 'setup' task.slug %}">Настроить</a></button>
                <button class="task_ready"><a class="create_but" href="{% url 'solution_task' task.slug %}">Ответы</a></button>
                <button class="task_ready"><a class="create_but" href="{% url 'delete' task.slug %}">Удалить</a></button>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}
