{% extends 'tasks/base.html' %}
{% block content %}
    <div class="wrapper tasks_plane">
        {% for task in tasks %}
        <div class="task_content task_plane">
            <p>{{task.title}}<span>id: {{task.identifier}}</span></p>
            <div class="task_view_btns">
                <button class="task_ready"><a class="create_but" href="{% url 'task' task.id %}">Просмотр</a></button>
                <button class="task_ready"><a class="create_but" href="{% url 'solution_task' task.id %}">Ответы</a></button>
                <button class="task_ready"><a class="create_but" href="{% url 'delete' task.id %}">Удалить</a></button>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
